<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Muffins.com - О нас</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body class="page">
<header class="header">
    <h1 class="header__title">Лучшие пончики твоего города</h1>
    <nav class="header__nav">
        <a class="header__item" href="/">Главная</a>
        <a class="header__item" href="/store">Магазин</a>
        <a class="header__item header__item_active" href="/about">О нас</a>
        <a class="header__item header__basket" href="/basket">Корзина</a>
    </nav>
</header>
<main class="main">

</main>
</body>
</html>